---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
import SomeComponent from '../components/SomeComponent.astro'
import AccordionItem from '../components/AccordionItem.astro'
import AccordionItemReact from '../components/AccordionItemReact.jsx'
import AccordionItemVue from '../components/AccordionItemVue.vue'
---
<BaseLayout title="About">
  <SomeComponent nombre="Pepo" saludo="Ciao!"></SomeComponent>
  <h2>FAQ / Vue</h2>
  <AccordionItemVue title="¿Qué es Astro?">
    <p>
      Astro es una librería de componentes para desarrollo web.
    </p>
  </AccordionItemVue>

  <h2>FAQ / React</h2>
  <AccordionItemReact client:media="(max-width: 700px)" title="¿Qué es React?">
    <p>React es una biblioteca de JavaScript que permite crear interfaces de usuario con componentes reutilizables.</p>
  </AccordionItemReact>
      <hr style="height: 1000px"/>

  <h2>FAQ</h2>
  <AccordionItem title="Title 1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </AccordionItem>
  <AccordionItem title="Title 2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </AccordionItem>
  <AccordionItem client:visible title="Title 3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </AccordionItem>
</BaseLayout>