---
const response = await fetch('https://jsonplaceholder.typicode.com/posts');
const posts = await response.json();

import BaseLayout from '../layouts/BaseLayout.astro'

---
<BaseLayout title="Blog">
<ul>
  {posts.map((post) => (
    <>
      <li><a href={`/post/${post.id}`}>{post.title}</a></li>
    </>
  ))}
</ul>
</BaseLayout>
