<template>
  <details>
    <summary>
      {{title}}
    </summary>
    <slot></slot>
  </details>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>