---
// Ejemplo: <SomeComponent />  (CUIDADO: propiedad "nombre" obligatoria)
export interface Props {
  nombre: string;
  saludo?: string;
}
const { saludo = 'Hola', nombre } = Astro.props;
---
<div>
    <h1>{saludo}, {nombre}!</h1>
</div>