---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <title>Ejemplo de maqueta: {title}</title>
  </head>
  <body>
    <!-- Añade una barra de navegación a cada página. -->
    <div class="container">
      <nav>
        <a href="/">Inicio</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </nav>
      <!-- ranura: el contenido de su página se inyectará aquí. -->
      <article>
        <h2>{title}</h2>
        <slot />
      </article>
    </div>
  </body>
</html>

<style>
  body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
    article {
        padding-top: 2em;
        line-height: 1.5;
        margin: 0 30px;
        display: flex;
        flex-direction: column;
    }
    section {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 70ch;
    }

    .banner {
        text-align: center;
        font-size: 1.2rem;
        background: var(--color-light);
        padding: 1em 1.5em;
        padding-left: 0.75em;
        border-radius: 4px;
    }

    pre,
    code {
        font-family: var(--font-mono);
        background: var(--color-light);
        border-radius: 4px;
    }

    pre {
        padding: 1em 1.5em;
    }

    .tree {
        line-height: 1.2;
    }

    code:not(.tree) {
        padding: 0.125em;
        margin: 0 -0.125em;
    }
</style>
